<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="menuAberto" class="sidenav">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/" routerLinkActive="active-link">
          <mat-icon>group</mat-icon>
          <span>Times</span>
        </a>
  
        <a mat-list-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Sair</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="app-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="app-title">Team Task Manager</span>
  
        <span class="spacer"></span>
  
        <span *ngIf="user" class="user-info">
          <mat-icon>person</mat-icon>
          {{ user.email }}
        </span>
      </mat-toolbar>
  
      <main class="content">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
</mat-sidenav-container>
  