<h2>Novo Time</h2>

<form (ngSubmit)="create()" #form="ngForm">
  <mat-form-field appearance="outline">
    <mat-label>Nome do Time</mat-label>
    <input matInput [(ngModel)]="team.name" name="name" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Descrição</mat-label>
    <input matInput [(ngModel)]="team.description" name="description" />
  </mat-form-field>

  <div class="buttons">
    <button mat-stroked-button type="button" (click)="close()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Criar</button>
  </div>
</form>
