<h2>Novo Time</h2>

<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Nome do Time</mat-label>
    <input matInput formControlName="name" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Descrição</mat-label>
    <input matInput formControlName="description" required />
  </mat-form-field>

  <div class="buttons">
    <button mat-stroked-button type="button" (click)="close()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="create()">Criar</button>
  </div>
</form>
