@import 'ngx-toastr/toastr';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #eef3f7;
}

mat-sidenav-content {
    background-color: #eef3f7 !important;
}

mat-toolbar {
    background-color: #ffffff !important;
  }